# Node modules folder
node_modules/

# SQLite files
*.sqlite

# ESLint config file
.eslintrc.json

# Discord token/IDs file
config.json

# Design docs folder
design/

# Deprecated features folder
deprecated/